APPLICATION_SECURITY_CLIENTS_SECRETS_GATEWAYSERVICE=change-me
APPLICATION_SECURITY_CLIENTS_SECRETS_MAINSERVICE=change-me
APPLICATION_SECURITY_CLIENTS_SECRETS_REPORTSERVICE=change-me
ACTIVEMQ_CONNECTION_USER=activemq
ACTIVEMQ_CONNECTION_PASSWORD=change-me
ACTIVEMQ_WEB_USER=admin
ACTIVEMQ_WEB_PASSWORD=change-me
