POSTGRES_PASSWORD=change-me
JWT_PUBLIC_KEY_PATH=file:/etc/keys/public.pem
JWT_PRIVATE_KEY_PATH=file:/etc/keys/private.pem
JWT_KEY_ID=key-1
ACTIVEMQ_CONNECTION_USER=activemq
ACTIVEMQ_CONNECTION_PASSWORD=change-me
